---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-proxy-config
  namespace: vertical-pod-autoscaler
data:
  default.conf.template: |
    server {
        listen 9090;
        resolver kube-dns.kube-system.svc.cluster.local valid=5s ipv6=off;

        location /healthz {
            return 200 'ok';
            add_header Content-Type text/plain;
        }

        location / {
            proxy_pass ${GRAFANA_CLOUD_PROM_URL}$request_uri;
            proxy_set_header Authorization "Basic ${GRAFANA_CLOUD_BASIC_AUTH}";
            proxy_ssl_server_name on;
            proxy_read_timeout 300s;
        }
    }
