---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - onepassworditem-grafana-prometheus.yaml
patches:
  - path: values.yaml
    target:
      kind: Deployment
      name: prometheus-proxy
